.body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4d2323;
  min-height: 100%;
}

.body a {
  text-decoration: none;
  
}



h2 {
  background-color: #FFEF94;
}



* {
    box-sizing: border-box;
  }

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5dc;
}

.nav__item a {
  padding: 16px 16px;
  line-height: 50px;
  color: #008000;
  transition: .3s;
  
}

.nav__item a:hover {
  background-color: #E0E0E0;
  color:black;
  border-radius: 10px;
}

.nav__item a:active {
  
  color:yellow;
  
}

.container {
    max-width: 1024px;
    margin: 0 auto;
  }

 .two-columns {
    display: flex;
    flex-wrap: wrap;
 }

 .left-column {
   width: 36%;
   color: green;
   /* border: 1px solid red; */
   background-color: #f5f5dc;
 }

 .right-column {
  width: 64%;
  /* border: 1px solid red; */
  
}

.right-column .section-title {
  color: green;
}



.page-title {
  /* border: 1px solid red; */
  padding: 60px 80px 120px 60px;
}
  
.content {
  /* border: 1px solid red; */
  padding: 30px 20px 30px 60px;
}

.section-title {
  
  vertical-align: center;
  padding: 5px 80px 5px 60px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
} 

.main-title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  padding: 0 0 20px 0;
}

.page-title p {
  font-size: 25px;
}

.education .text {
  font-weight: 600;
}

.contacts-title {
  margin-top: 10px;
}

.contact__item {
  margin-bottom: 18px;
  color: #013220;
}

.contact__item a {
  margin-bottom: 18px;
  color: green;
  text-decoration: underline;
}

.contact__item a:hover {
  text-decoration: none;
}

.contact__item a:active {
  text-decoration: none;
  color: black;
}

.skills__item {
  margin-bottom: 18px;
  font-size: 18px;
  
}

.skills__list {
padding: 20px 30px 30px;
list-style-type: disc;
color: #013220;
}

/*
header, 
main, 
footer {border: 1px solid red;}

*/

.content .courses__list {
  padding: 0 20px;
}

.courses__list {
  list-style-type: disc;
}

.courses__item a {
  line-height: 40px;
  color: black;
}

.courses__item a:hover {
  color: green;
}

.courses__item a:active {
  color: yellowgreen;
}

.code {
  background-color: black;
  /* border: 1px solid red; */
  display: block;
  color: #FFEF94;
  /* padding-top: 20px; */
  /* font-family: 'Brush Script MT', 'Brush Script Std', cursive;  */
  font-family: 'DejaVu Sans Mono', monospace;
  /* font-family: Courier, monospace; */
  
}

.footer .container {
  
  display: flex;
  justify-content: space-between;
  background-color:	#E0E0E0;
  color: black;
  align-items: center;
  padding: 20px;
}

.footer__github {
 
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.footer__github p {
  
  position: relative;
  top: 2px;
  left: 15px;
  font-size: 16px;
  color: black;
}

.footer__github p:hover {
  
  
  color: #949494 ;
}

.footer__github p:active {
  
  color: white ;
}

html {
  scroll-behavior: smooth; 
}

