

* {
    box-sizing: border-box;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
  }
  
header, 
main, 
footer {border: 1px solid red;}

a { text-decoration: none; }

html {
  scroll-behavior: smooth; 
}