

* {
    box-sizing: border-box;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

 .two-columns {
    display: flex;
    flex-wrap: wrap;
 }

 .left-column {
   width: 40%;
 }

 .right-column {
  width: 60%;
}
  
header, 
main, 
footer {border: 1px solid red;}

a { text-decoration: none; }

html {
  scroll-behavior: smooth; 
}